.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.AppMatchSummary {
  flex-grow: 18;
  margin: 5px;
  background: aqua;
}

.AppMatchScore {
  flex-grow: 2;
  margin: 5px;
  color: white;
  font-size: 72px;
}
